@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700&subset=latin-ext);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700&subset=latin-ext);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:700,400&subset=latin-ext);
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?c1gxmy");
  src: url("../fonts/icomoon.eot?#iefixc1gxmy") format("embedded-opentype"), url("../fonts/icomoon.woff?c1gxmy") format("woff"), url("../fonts/icomoon.ttf?c1gxmy") format("truetype"), url("../fonts/icomoon.svg?c1gxmy#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-right:before {
  content: "\e600";
}

#admin-menu ul, #admin-menu ol, #admin-menu dl {
  font-size: inherit;
}

.f {
  font-family: 'Roboto Condensed', sans-serif;
  font-family: 'Roboto Slab', serif;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
}

.page {
  min-height: 100%;
  overflow: hidden;
}
.page .container {
  min-height: 100%;
}
.page .push {
  height: 358px;
  display: block;
  width: 100%;
}

.footer {
  background: #1f2226;
  min-height: 358px;
  margin-top: -358px;
  display: block;
  width: 100%;
}

.header {
  background: #fff;
}
.header .first-block {
  border-top: 4px solid #eef1f4;
}
.header .first-block .logo {
  margin: 15px 0 15px;
  display: block;
  float: left;
}
.header .first-block .main-menu {
  display: block;
  float: right;
  width: 50%;
  margin: 24px 0 0;
}
.header .first-block .main-menu ul.main-nav {
  list-style: none;
  margin: 0 0 0;
  padding: 0 0;
  width: 100%;
}
.header .first-block .main-menu ul.main-nav li {
  display: block;
  float: left;
  width: 50%;
  padding: 0 0 0 12px;
  margin: 0 0 10px;
  position: relative;
  line-height: 1;
}
.header .first-block .main-menu ul.main-nav li:nth-child(2n-1) {
  width: 38%;
}
.header .first-block .main-menu ul.main-nav li:after {
  content: "";
  background: url("../img/rec-1.png") no-repeat 0 0 transparent;
  width: 4px;
  height: 7px;
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -5px;
}
.header .first-block .main-menu ul.main-nav li a {
  line-height: 1;
  color: #283044;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
}
.header .first-block .main-menu ul.main-nav li a:hover {
  color: #0076da;
  text-decoration: underline;
}
.header .phones {
  border-top: 4px solid #153f64;
  position: relative;
}
.header .phones:after {
  content: "";
  position: absolute;
  left: 42px;
  top: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 7px 0 0;
  border-color: #153f64 transparent transparent transparent;
}
.header .phones ul {
  list-style: none;
  margin: 17px 0 0;
  padding: 0 0;
  display: block;
  float: left;
  width: 100%;
}
.header .phones ul li {
  display: inline-block;
  width: 100%;
  padding: 0 30px 0 0;
  position: relative;
}
.header .phones ul li:after {
  content: "";
  background: url("../img/usa.jpg") no-repeat 0 0 transparent;
  width: 22px;
  height: 16px;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}
.header .phones ul li:nth-child(2):after {
  background: url("../img/deu.jpg") no-repeat 0 0 transparent;
}
.header .phones ul li:nth-child(3):after {
  background: url("../img/ua.jpg") no-repeat 0 0 transparent;
}
.header .phones ul li .country {
  color: #5e626d;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: lighter;
  float: left;
  line-height: 20px;
  display: block;
}
.header .phones ul li .phone {
  color: #283044;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: normal;
  line-height: 20px;
  float: right;
  display: block;
}

.top-bar {
  background: #153f64;
  line-height: 0;
  display: none;
}
.top-bar .title-area {
  display: inline-block;
  width: 100%;
  height: 45px;
}
.top-bar .title-area .toggle-topbar {
  width: 100%;
  height: 45px;
}
.top-bar .title-area .toggle-topbar.menu-icon {
  top: 0;
  margin-top: 0;
}
.top-bar .title-area .toggle-topbar a {
  height: 45px;
  line-height: 48px;
  padding: 0 0.9375rem;
}
.top-bar .title-area .toggle-topbar a span {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.top-bar .top-bar-section ul {
  display: block !important;
}
.top-bar .top-bar-section ul li > a {
  background: #174e7e;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
}
.top-bar .top-bar-section ul li > a:hover {
  background: #1d5d96;
}
.top-bar .top-bar-section ul li label {
  color: #fff;
  background: #06355e;
  text-transform: uppercase;
  padding: 8px 0.9375rem;
  cursor: default;
  line-height: 25px;
  margin: 0 0;
  display: inline-block;
  width: 100%;
}
.top-bar.expanded {
  background: #06355e;
  margin-bottom: 0px;
}
.top-bar.expanded .title-area {
  background: #06355e;
}
.top-bar.expanded .title-area .toggle-topbar a {
  color: #fff;
}
.top-bar.expanded .title-area .toggle-topbar a span:after {
  -webkit-box-shadow: 0 0 0 1px white, 0 7px 0 1px white, 0 14px 0 1px white;
  -moz-box-shadow: 0 0 0 1px white, 0 7px 0 1px white, 0 14px 0 1px white;
  box-shadow: 0 0 0 1px white, 0 7px 0 1px white, 0 14px 0 1px white;
}
.top-bar.expanded .top-bar-section {
  top: 0;
}

.second-menu {
  margin: 30px auto 0;
  z-index: 10;
  height: 62px;
  background: #fff;
  display: block !important;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  position: relative;
}
.second-menu:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 15px 0 0;
  border-color: #123556 transparent transparent transparent;
}
.second-menu ul.secondary {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.second-menu .block-title {
  display: none;
}

.second-menu ul.secondary li {
  display: block;
  float: left;
  line-height: 62px;
  text-align: center;
  padding: 0 15px;
  position: relative;
}
.second-menu ul.secondary li:after {
  content: "";
  width: 1px;
  height: 22px;
  background: #dee3e9;
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -11px;
}
.second-menu ul.secondary li:last-child:after {
  display: none;
}
.second-menu ul.secondary li:nth-child(4):after {
  display: none;
}
.second-menu ul.secondary li a {
  display: inline-block;
  color: #174169;
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1;
}
.second-menu ul.secondary li a:hover {
  color: #0076da;
  text-decoration: underline;
}
.second-menu ul.secondary li:last-child {
  width: 25%;
  float: right;
  padding: 0 0;
  line-height: 1;
}
.second-menu ul.secondary li:last-child a {
  position: relative;
  width: 100%;
  height: 62px;
  line-height: 62px;
  color: #fff;
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  font-weight: bold;
  text-indent: 30px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.35);
  background: #8aba1b;
  background: -moz-linear-gradient(top, #8aba1b 0%, #528807 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #8aba1b), color-stop(100%, #528807));
  background: -webkit-linear-gradient(top, #8aba1b 0%, #528807 100%);
  background: -o-linear-gradient(top, #8aba1b 0%, #528807 100%);
  background: -ms-linear-gradient(top, #8aba1b 0%, #528807 100%);
  background: linear-gradient(to bottom, #8aba1b 0%, #528807 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8aba1b', endColorstr='#528807', GradientType=0 );
}
.second-menu ul.secondary li:last-child a:after {
  content: "";
  background: url("../img/quote-ico.png") no-repeat 0 0 transparent;
  width: 22px;
  height: 22px;
  display: block;
  position: absolute;
  top: 50%;
  left: 20px;
  margin-top: -8px;
}
.second-menu ul.secondary li:last-child a:hover {
  color: #fff;
  text-decoration: none;
  background: #528807;
  background: -moz-linear-gradient(top, #528807 0%, #8aba1b 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #528807), color-stop(100%, #8aba1b));
  background: -webkit-linear-gradient(top, #528807 0%, #8aba1b 100%);
  background: -o-linear-gradient(top, #528807 0%, #8aba1b 100%);
  background: -ms-linear-gradient(top, #528807 0%, #8aba1b 100%);
  background: linear-gradient(to bottom, #528807 0%, #8aba1b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#528807', endColorstr='#8aba1b', GradientType=0 );
}

#flexslider-1 {
  background: #fff;
  display: block;
  float: left;
  margin: -92px 0 0;
  width: 100%;
  position: relative;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 0 0 white;
  -moz-box-shadow: 0 0 0 white;
  box-shadow: 0 0 0 white;
}
#flexslider-1 .slides > li .slide {
  min-height: 370px;
  background-position: center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#flexslider-1 .slides > li .content {
  padding: 120px 0 30px 4%;
}
#flexslider-1 .slides > li .content .title {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 1;
  margin: 0 0 20px;
}
#flexslider-1 .slides > li .content .text p {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: lighter;
  line-height: 1.2;
  margin: 0;
}
#flexslider-1 .slides > li .content .text p strong {
  font-weight: 500;
}
#flexslider-1 .slides > li .content .text ul {
  margin: 0 0 0;
  padding: 0 0 0;
  list-style: none;
}
#flexslider-1 .slides > li .content .text ul li {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: lighter;
  line-height: 1.2;
  margin: 0 0;
  padding: 0 0 0 15px;
  position: relative;
}
#flexslider-1 .slides > li .content .text ul li:before {
  content: "";
  width: 5px;
  height: 5px;
  background: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -4px;
}
#flexslider-1 .slides > li .content .text ul li strong {
  font-weight: 500;
}
#flexslider-1 .slides > li .content .box-btn {
  margin-top: 20px;
}
#flexslider-1 .slides > li .content .box-btn a {
  background: #fff;
  color: #084b96;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 21px;
  font-weight: 400;
  line-height: 59px;
  height: 62px;
  display: inline-block;
  position: relative;
  padding: 0 58px 0 34px;
  border: 1px solid #c53f0b;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.22), inset 0 -2px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.22), inset 0 -2px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.22), inset 0 -2px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.4s ease;
  -webkit-transition-delay: 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
#flexslider-1 .slides > li .content .box-btn a:after {
  content: "\e600";
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 28px;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #a5aeb6;
  display: block;
  width: 12px;
  height: 19px;
  position: absolute;
  right: 34px;
  top: 50%;
  margin-top: -13px;
}
#flexslider-1 .slides > li .content .box-btn a:hover {
  background: #084b96;
  color: #fff;
}
#flexslider-1 .flex-control-paging {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 20px;
  text-align: center;
  z-index: 10;
  line-height: 1;
}
#flexslider-1 .flex-control-paging li {
  width: 14px;
  height: 14px;
  margin: 0 4px;
}
#flexslider-1 .flex-control-paging li a {
  width: 12px;
  height: 12px;
  background: transparent;
  opacity: 0.6;
  border: 2px solid #fff;
  -webkit-box-shadow: 0 0 0 white;
  -moz-box-shadow: 0 0 0 white;
  box-shadow: 0 0 0 white;
}
#flexslider-1 .flex-control-paging li a:hover {
  background: #fff;
}
#flexslider-1 .flex-control-paging li a.flex-active {
  background: #fff;
  opacity: 1;
}

.region-slider {
  position: relative;
  display: inline-block;
  width: 100%;
}
.region-slider .info {
  display: inline-block;
  width: 100%;
  background: #154066;
  background: -moz-linear-gradient(top, #154066 0%, #113554 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #154066), color-stop(100%, #113554));
  background: -webkit-linear-gradient(top, #154066 0%, #113554 100%);
  background: -o-linear-gradient(top, #154066 0%, #113554 100%);
  background: -ms-linear-gradient(top, #154066 0%, #113554 100%);
  background: linear-gradient(to bottom, #154066 0%, #113554 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#154066', endColorstr='#113554', GradientType=0 );
}
.region-slider .info h3 {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 1;
  padding: 20px 0;
  margin: 0;
}
.region-slider .info h3 strong {
  color: #f2652f;
  font-weight: 700;
}

.development {
  padding: 70px 0;
}
.development .title {
  text-align: center;
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 35px;
  font-weight: lighter;
  margin: 0 0 15px 0;
  line-height: 1;
}
.development .info {
  text-align: center;
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: lighter;
  line-height: 1.5;
  margin-bottom: 35px;
}
.development ul.items {
  margin: 0 0 35px;
}
.development ul.items li .img {
  text-align: center;
  margin: 0 0 25px;
}
.development ul.items li .title {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  margin: 0 0 10px;
  line-height: 1;
  text-align: left;
}
.development ul.items li .text {
  color: #26263b;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.4;
  margin: 0;
}
.development .box-btn {
  text-align: center;
}
.development .box-btn a {
  background: #fff;
  color: #174169;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 54px;
  display: inline-block;
  position: relative;
  padding: 0 58px 0 34px;
  border: 2px solid #d0d6dd;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
  -webkit-transition: all 0.4s ease;
  -webkit-transition-delay: 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.development .box-btn a:after {
  content: "\e600";
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 28px;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #174169;
  display: block;
  width: 12px;
  height: 19px;
  position: absolute;
  right: 34px;
  top: 50%;
  margin-top: -13px;
}
.development .box-btn a:hover {
  background: #d0d6dd;
  color: #000;
}
.development .box-btn a:hover:after {
  color: #000;
}

.block-form {
  display: block;
  width: 100%;
  min-height: 500px;
  padding: 55px 0;
  background: url("../img/block-form.jpg") no-repeat center top transparent;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.block-form .title {
  margin: 0 0 20px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 35px;
  font-weight: 500;
  line-height: 1;
}
.block-form .text {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: lighter;
  margin: 0 0 30px;
  line-height: 1;
}
.block-form .node-webform .node-title {
  display: none;
}
.block-form form .form-item {
  width: 100%;
  margin: 0 0 10px;
  display: inline-block;
}
.block-form form .form-item .form-textarea-wrapper {
  display: block;
  float: right;
  width: 79%;
}
.block-form form .box-label {
  width: 17%;
  text-align: right;
  display: block;
  float: left;
}
.block-form form label {
  color: #fff;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  line-height: 35px;
  display: block;
  float: left;
  text-align: right;
  width: 17%;
}
.block-form form label .form-required {
  color: #fff;
}
.block-form form input[type="text"], .block-form form input[type="email"] {
  height: 35px;
  background: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  display: block;
  float: right;
  border: none;
  width: 79%;
  padding: 0 10px;
  margin: 0 0;
  -webkit-box-shadow: 0 0 0 white;
  -moz-box-shadow: 0 0 0 white;
  box-shadow: 0 0 0 white;
}
.block-form form textarea {
  height: 65px;
  background: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  display: block;
  float: right;
  border: none;
  width: 100%;
  padding: 5px 10px;
  margin: 0 0;
  resize: none;
  -webkit-box-shadow: 0 0 0 white;
  -moz-box-shadow: 0 0 0 white;
  box-shadow: 0 0 0 white;
}
.block-form form button.form-submit {
  margin: 15px 0 0 20%;
  background: transparent;
  color: #fff;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 54px;
  display: inline-block;
  position: relative;
  padding: 0 58px 0 34px;
  border: 2px solid #fff;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
  -webkit-transition: all 0.4s ease;
  -webkit-transition-delay: 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.block-form form button.form-submit:after {
  content: "\e600";
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 28px;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  display: block;
  width: 12px;
  height: 19px;
  position: absolute;
  right: 34px;
  top: 50%;
  margin-top: -13px;
}
.block-form form button.form-submit:hover {
  background: #fff;
  color: #000;
}
.block-form form button.form-submit:hover:after {
  color: #000;
}

.block-logos {
  padding: 30px 0;
  text-align: center;
}

.block-benefits {
  background: url("../img/benefits-bg.jpg") no-repeat center top transparent;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 60px 0;
}
.block-benefits .title {
  text-align: center;
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 35px;
  font-weight: lighter;
  margin: 0 0 15px 0;
  line-height: 1;
}
.block-benefits .info {
  text-align: center;
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: lighter;
  line-height: 1.5;
  margin-bottom: 35px;
}
.block-benefits ul.items {
  margin: 0 0 35px;
}
.block-benefits ul.items li {
  padding: 0 1% 1.25rem;
}
.block-benefits ul.items li .img {
  text-align: center;
  margin: 0 0 25px;
  height: 53px;
}
.block-benefits ul.items li .title {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  margin: 0 0 15px;
  line-height: 1;
  text-align: left;
}
.block-benefits ul.items li ul.info {
  margin: 0 0;
  list-style: disc inside;
  padding: 0 0;
}
.block-benefits ul.items li ul.info li {
  color: #26263b;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  text-align: left;
  font-weight: 300;
  line-height: 1.4;
  margin: 0 0 5px;
  padding: 0;
}
.block-benefits .box-btn {
  text-align: center;
}
.block-benefits .box-btn a {
  background: transparent;
  color: #ff5400;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 54px;
  display: inline-block;
  position: relative;
  padding: 0 58px 0 34px;
  border: 2px solid #ff5400;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
  -webkit-transition: all 0.4s ease;
  -webkit-transition-delay: 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.block-benefits .box-btn a:after {
  content: "\e600";
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 28px;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ff5400;
  display: block;
  width: 12px;
  height: 19px;
  position: absolute;
  right: 34px;
  top: 50%;
  margin-top: -13px;
}
.block-benefits .box-btn a:hover {
  background: #ff5400;
  color: #fff;
}
.block-benefits .box-btn a:hover:after {
  color: #fff;
}

.developers {
  padding: 60px 0;
  background: url("../img/developer-bg.jpg") repeat-x left top transparent;
}
.developers .title {
  text-align: center;
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 35px;
  font-weight: lighter;
  margin: 0 0 15px 0;
  line-height: 1;
}
.developers .info {
  text-align: center;
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: lighter;
  line-height: 1.5;
  margin-bottom: 40px;
}
.developers ul.items {
  margin: 0 0 35px;
}
.developers ul.items li .img {
  text-align: center;
  margin: 0 0 25px;
}
.developers ul.items li .title {
  color: #133b5d;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  margin: 0 0 3px;
  line-height: 1;
  text-align: left;
}
.developers ul.items li .profession {
  color: #aaa;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: lighter;
  margin: 0 0 10px;
}
.developers ul.items li .text {
  color: #26263b;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 400;
  margin: 0 0 0;
}
.developers .box-btn {
  text-align: center;
}
.developers .box-btn a {
  background: transparent;
  color: #ff5400;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 54px;
  display: inline-block;
  position: relative;
  padding: 0 58px 0 34px;
  border: 2px solid #ff5400;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
  -webkit-transition: all 0.4s ease;
  -webkit-transition-delay: 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.developers .box-btn a:after {
  content: "\e600";
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 28px;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ff5400;
  display: block;
  width: 12px;
  height: 19px;
  position: absolute;
  right: 34px;
  top: 50%;
  margin-top: -13px;
}
.developers .box-btn a:hover {
  background: #ff5400;
  color: #fff;
}
.developers .box-btn a:hover:after {
  color: #fff;
}

.footer .footer-first {
  padding: 50px 0;
  background: #292c32;
}
.footer .footer-second {
  padding: 30px 0;
}
.footer .footer-second .terms {
  display: block;
  float: right;
  padding: 0 8.333%;
}
.footer .footer-second .terms ul {
  list-style: none;
  margin: 0 0;
  padding: 0 0;
}
.footer .footer-second .terms ul li {
  display: block;
  float: left;
  position: relative;
  line-height: 1;
  padding: 0 15px;
  width: auto;
}
.footer .footer-second .terms ul li:after {
  content: "";
  background: #75777b;
  width: 1px;
  height: 12px;
  display: block;
  position: absolute;
  right: 0;
  top: 1px;
}
.footer .footer-second .terms ul li:last-child:after {
  display: none;
}
.footer .footer-second .terms ul li a {
  color: #75777b;
  line-height: 1;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 300;
}
.footer .footer-second .terms ul li a:hover {
  color: #fff;
}
.footer .footer-second .box-menu {
  float: right;
  display: block;
}
.footer .footer-second .box-menu ul {
  list-style: none;
  margin: 0 0;
  padding: 0 0;
}
.footer .footer-second .box-menu ul li {
  display: block;
  float: left;
  position: relative;
  line-height: 1;
  padding: 0 15px;
  width: auto;
}
.footer .footer-second .box-menu ul li:after {
  content: "";
  background: #75777b;
  width: 1px;
  height: 12px;
  display: block;
  position: absolute;
  right: 0;
  top: 1px;
}
.footer .footer-second .box-menu ul li:last-child:after {
  display: none;
}
.footer .footer-second .box-menu ul li a {
  color: #75777b;
  line-height: 1;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 300;
}
.footer .footer-second .box-menu ul li a:hover {
  color: #fff;
}
.footer .footer-second .copyright {
  float: left;
  color: #75777b;
  line-height: 1.4;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 300;
  margin: 0;
}

.block-logo {
  text-align: center;
  margin-bottom: 42px;
}
.block-logo h1 {
  margin: 0;
  font-size: 0;
}

.block-social {
  text-align: center;
}
.block-social ul {
  padding: 0;
  list-style: none;
  display: inline-block;
  margin: 0 auto;
}
.block-social ul li {
  display: block;
  float: left;
  margin: 5px;
}
.block-social ul li:nth-child(2n+1) {
  clear: both;
  float: left;
}
.block-social ul li a {
  display: block;
  background: url("../img/social.png") no-repeat 0 0 transparent;
  width: 32px;
  height: 32px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.4s ease;
  -webkit-transition-delay: 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.block-social ul li a:hover {
  opacity: 0.8;
}
.block-social ul li a.in {
  background: url("../img/social.png") no-repeat -42px 0;
}
.block-social ul li a.g-plus {
  background: url("../img/social.png") no-repeat 0 -42px;
}
.block-social ul li a.twitter {
  background: url("../img/social.png") no-repeat -42px -42px;
}

.block-contacts .block-title {
  color: #ff5300;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 30px;
  line-height: 1;
}
.block-contacts .phones {
  margin-bottom: 12px;
}
.block-contacts .phones p {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: lighter;
  line-height: 1;
  margin: 0 0 10px;
}
.block-contacts .email h5 {
  color: #616161;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 300;
  margin: 0 0 5px 0;
}
.block-contacts .email p {
  margin: 0 0 5px;
  line-height: 1;
}
.block-contacts .email p a {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 1;
}
.block-contacts .email p a:hover {
  text-decoration: underline;
}

.box-menu .block-title {
  color: #ff5300;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 30px;
  line-height: 1;
}
.box-menu ul.menu {
  margin: 0;
  padding: 0;
  list-style: none;
}
.box-menu ul.menu li {
  display: inline-block;
  width: 100%;
  margin: 0 0 5px;
  line-height: 1;
}
.box-menu ul.menu li a {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 1;
}
.box-menu ul.menu li a:hover {
  text-decoration: underline;
}

.dedicated-team {
  display: block;
  width: 100%;
  padding: 50px 0;
  background: #f1832a;
  background: -moz-linear-gradient(top, #f1832a 0%, #f3662f 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #f1832a), color-stop(100%, #f3662f));
  background: -webkit-linear-gradient(top, #f1832a 0%, #f3662f 100%);
  background: -o-linear-gradient(top, #f1832a 0%, #f3662f 100%);
  background: -ms-linear-gradient(top, #f1832a 0%, #f3662f 100%);
  background: linear-gradient(to bottom, #f1832a 0%, #f3662f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1832a', endColorstr='#f3662f', GradientType=0 );
}
.dedicated-team .content {
  margin-left: 20%;
}
.dedicated-team .block-title {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 500;
  margin: 0 0 25px;
  line-height: 1;
}
.dedicated-team ul.items-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.dedicated-team ul.items-list li {
  padding: 0 0 0 40px;
  margin: 0 0 15px;
  position: relative;
  line-height: 1;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 300;
}
.dedicated-team ul.items-list li:last-child {
  margin: 0 0 0;
}
.dedicated-team ul.items-list li:after {
  content: "";
  background: url("../img/arrow-1.png") no-repeat 0 0 transparent;
  width: 22px;
  height: 20px;
  display: block;
  position: absolute;
  left: 0;
  top: -1px;
}

.breadcrumbs {
  border: none;
  background: transparent;
  padding: 0;
  margin: 0 0 10px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
.breadcrumbs > * a {
  text-transform: none;
  color: #000;
  text-decoration: underline;
  font-family: "Arial", sans-serif;
  font-size: 13px;
}
.breadcrumbs > * a:hover {
  text-decoration: none;
}
.breadcrumbs li.current a {
  text-decoration: none;
}
.breadcrumbs > *:before {
  color: #000;
  margin: 0 8px;
  top: 0px;
}

body.not-front .page {
  background: url("../img/not-front-bg.jpg") repeat-x 0 118px transparent;
}
body.not-front .l-main {
  margin-top: 30px;
}
body.not-front .l-main .top-main {
  display: inline-block;
  width: 100%;
  padding-bottom: 20px;
  margin-bottom: 30px;
  border-bottom: 1px solid #e2e2e2;
}
body.not-front .l-main .top-main .block-social {
  text-align: center;
  margin-top: 15px;
}
body.not-front .l-main .top-main .block-social ul li {
  display: block;
  float: left;
  margin: 5px;
}
body.not-front .l-main .top-main .block-social ul li:nth-child(2n+1) {
  clear: none;
  float: left;
}
body.not-front .l-main #page-title {
  color: #f2692d;
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  font-weight: 300;
  line-height: 1;
}
body.not-front .l-main .sidebar-second {
  padding: 0 0;
}
body.not-front .l-main .sidebar-second .block-menu {
  background: #f9f9f9;
  border-top: 5px solid #f3662f;
  padding: 30px 25px;
}
body.not-front .l-main .sidebar-second .block-menu .block-title {
  color: #b3b3b3;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-weight: 400;
  margin: 0 0 25px;
  line-height: 1;
}
body.not-front .l-main .sidebar-second .block-menu ul.menu {
  list-style: none;
  margin: 0 0;
  padding: 0 0;
}
body.not-front .l-main .sidebar-second .block-menu ul.menu li {
  padding: 0 0 0 20px;
  position: relative;
  line-height: 1;
  margin-bottom: 15px;
}
body.not-front .l-main .sidebar-second .block-menu ul.menu li:after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 8px 8px;
  border-color: transparent transparent #153f64 transparent;
  display: block;
  position: absolute;
  left: 0;
  top: 3px;
}
body.not-front .l-main .sidebar-second .block-menu ul.menu li a {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 400;
  text-decoration: none;
}
body.not-front .l-main .sidebar-second .block-menu ul.menu li a:hover {
  text-decoration: underline;
}

.form-item input.error, .form-item textarea.error, .form-item select.error {
  border: 1px solid red;
}

.node-page .body {
  margin: 0 0 25px;
}

#common_form_request_wrapper {
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;
  width: 100%;
  padding: 0 0;
  background-color: #dfdfdf;
}
#common_form_request_wrapper .form-submit {
  background: url("../img/send-btn.png") no-repeat 0 0 transparent;
  width: 303px;
  height: 60px;
  float: right;
}
#common_form_request_wrapper #common_form_request {
  float: right;
  margin: 20% 50px 0 0;
}
#common_form_request_wrapper #common_form_request form .form-type-textfield {
  display: inline-block;
  width: 100%;
}
#common_form_request_wrapper #common_form_request form .form-type-textfield label {
  display: block;
  float: left;
  width: 20%;
  text-align: right;
}
#common_form_request_wrapper #common_form_request form .form-type-textfield input.form-text {
  display: block;
  width: 75%;
  float: right;
  margin: 0 0;
}
#common_form_request_wrapper #common_form_request form .form-type-textarea {
  display: block;
  float: right;
  width: 75%;
}
#common_form_request_wrapper #common_form_request form .form-type-textarea .form-textarea-wrapper textarea {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  height: 82px;
  padding: 10px 10px 30px 10px;
  resize: none;
  margin-bottom: -40px;
}
#common_form_request_wrapper #common_form_request form .form-type-textarea .form-textarea-wrapper .grippie {
  display: none;
}
#common_form_request_wrapper #common_form_request form .file_upload_label_wrapper {
  display: inline-block;
  width: 100%;
  margin: 0 0 40px;
  text-align: left;
}
#common_form_request_wrapper #common_form_request form .file_upload_label_wrapper .file_upload_label {
  margin: 0 15px 0 0;
  color: #686868;
  text-decoration: none;
  line-height: 17px;
  float: right;
}
#common_form_request_wrapper #common_form_request form .file_upload_label_wrapper .file_upload_label:hover {
  text-decoration: underline;
}

.node-article .image {
  display: block;
  float: left;
  margin: 0 15px 15px 0;
}
.node-article .body h2 {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 21px;
  font-weight: 500;
  line-height: 1.1;
  margin: 0 0 25px;
}
.node-article .body h5 {
  margin: 0 0 1.25rem;
  color: #172c71;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
}
.node-article .body p {
  color: #26263b;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.node-article .body ul.node-list {
  margin: 0 0 0;
}
.node-article .body ul.node-list li {
  padding-left: 35px;
  position: relative;
  line-height: 1.4;
  color: #26263b;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 300;
}
.node-article .body ul.node-list li:after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 12px 12px 0;
  border-color: transparent #f3692e transparent transparent;
  display: block;
  position: absolute;
  left: 10px;
  top: 3px;
}

.baner {
  background: url("../img/baner-bg-2.jpg") no-repeat 0 0 transparent;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 30px 30px;
  position: relative;
  margin-bottom: 40px;
}
.baner:after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 0;
  border-color: transparent #1b486d transparent transparent;
  display: block;
  position: absolute;
  left: -10px;
  top: 0;
}
.baner .top {
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
}
.baner .top img {
  display: block;
  float: left;
  margin: 0 15px 0 0;
  width: 28%;
}
.baner .top span {
  color: #e96f00;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 27px;
  line-height: 1;
}
.baner .top span strong {
  font-weight: 500;
}
.baner .top p {
  color: #fff;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  margin: 0 0;
}
.baner .bottom p {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.2;
  font-size: 14px;
  margin: 0;
}

.benefits {
  padding: 30px 0;
}
.benefits .info .title {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 21px;
  font-weight: 500;
  line-height: 1;
  margin: 0 0 20px 0;
}
.benefits .info p {
  color: #26263b;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
}
.benefits .benefits-list {
  margin-top: 40px;
}
.benefits .benefits-list .box-title {
  text-align: center;
  position: relative;
  margin-bottom: 40px;
}
.benefits .benefits-list .box-title:after {
  content: "";
  background: #e2e2e2;
  width: 100%;
  height: 1px;
  position: absolute;
  display: block;
  top: 50%;
  margin-top: -2px;
  left: 0;
}
.benefits .benefits-list h2.block-title {
  display: inline-block;
  text-align: center;
  background: #fff;
  padding: 0 20px;
  color: #353b47;
  font-family: "Roboto", sans-serif;
  font-size: 21px;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  margin: 0 0;
}
.benefits .benefits-list ul.items {
  margin: 0 0;
}
.benefits .benefits-list ul.items li h4.title {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 500;
  margin: 0 0 18px;
  line-height: 1;
}
.benefits .benefits-list ul.items li img {
  margin-bottom: 20px;
}
.benefits .benefits-list ul.items li p {
  color: #9f9fa5;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 20px;
}
.benefits .benefits-list ul.items li ul.list {
  margin: 0;
  list-style: none;
}
.benefits .benefits-list ul.items li ul.list li {
  line-height: 1;
  position: relative;
  padding: 0 0 0 25px;
  margin-bottom: 10px;
  color: #125bac;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.benefits .benefits-list ul.items li ul.list li:after {
  content: "";
  background: url("../img/arrow-2.png") no-repeat 0 0 transparent;
  width: 14px;
  height: 11px;
  display: block;
  position: absolute;
  left: 0;
  top: 1px;
}

/* min-width 961px and max-width 1024px, use when QAing tablet-only issues */
@media only screen and (min-width: 961px) and (max-width: 1024px) {
  .second-menu ul.secondary li {
    padding: 0 1.1%;
  }

  .header .first-block .main-menu {
    width: 44%;
  }
}
/* min-width 768px and max-width 960px, use when QAing tablet-only issues */
@media only screen and (min-width: 768px) and (max-width: 960px) {
  .second-menu {
    display: none !important;
  }

  #flexslider-1 {
    margin: 0 0;
  }
  #flexslider-1 .slides > li .content {
    padding: 55px 0 30px 4%;
  }

  .block-form form label {
    font-size: 14px;
  }

  .footer .footer-second .terms {
    padding: 0 2.333%;
  }

  .dedicated-team .content {
    margin-left: 5%;
  }

  .baner .top {
    margin-bottom: 15px;
  }
  .baner .top img {
    margin: 0 12px 0 0;
    width: 25%;
  }
  .baner .top span {
    font-size: 19px;
  }
  .baner .top p {
    font-size: 11px;
  }
  .baner .bottom p {
    font-size: 12px;
  }

  .benefits .benefits-list ul.items li h4.title {
    font-size: 17px;
  }

  .benefits .benefits-list ul.items li ul.list li {
    font-size: 14px;
  }

  #common_form_request_wrapper #common_form_request {
    float: right;
    margin: 20% 20px 0 0;
    width: 38%;
  }
}
/* max-width 768px, mobile-only styles, use when QAing mobile issues */
@media only screen and (max-width: 768px) {
  .header {
    background: #fff;
  }
  .header .first-block {
    border-top: 4px solid #eef1f4;
    text-align: center;
  }
  .header .first-block .logo {
    margin: 15px auto 15px;
    display: block;
    float: none;
  }
  .header .phones {
    border-top: 0px solid #153f64;
    position: relative;
  }
  .header .phones:after {
    content: "";
    display: none;
  }
  .header .phones ul {
    list-style: none;
    margin: 17px auto 0;
    padding: 0 0;
    display: block;
    float: none;
    width: 275px;
  }

  .second-menu {
    display: none !important;
  }

  #flexslider-1 {
    margin: 0 0;
  }
  #flexslider-1 .slides > li .content {
    padding: 30px 0 30px 4%;
  }

  .development {
    padding: 70px 0;
  }
  .development .title {
    text-align: center;
    color: #000;
    font-family: "Roboto", sans-serif;
    font-size: 35px;
    font-weight: lighter;
    margin: 0 0 15px 0;
    line-height: 1;
  }
  .development .info {
    text-align: center;
    color: #000;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: lighter;
    line-height: 1.5;
    margin-bottom: 35px;
  }
  .development ul.items {
    margin: 0 0 35px;
  }
  .development ul.items li {
    text-align: center;
    margin-bottom: 20px;
  }
  .development ul.items li .title {
    text-align: center;
  }

  .block-form {
    background: url("../img/block-form.jpg") no-repeat right top transparent;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .block-form .title {
    font-size: 30px;
    text-align: center;
  }
  .block-form .text {
    text-align: center;
    font-size: 18px;
  }
  .block-form form .form-item {
    width: 100%;
    margin: 0 0 10px;
    display: inline-block;
  }
  .block-form form .form-item .form-textarea-wrapper {
    width: 100%;
  }
  .block-form form label {
    width: auto;
    text-align: left;
  }
  .block-form form input[type="text"], .block-form form input[type="email"] {
    width: 100%;
  }
  .block-form form textarea {
    width: 100%;
  }
  .block-form form .box-btn {
    margin: 15px 0 0 0;
    text-align: center;
  }
  .block-form form button.form-submit {
    margin: 15px auto 0;
    display: block;
  }

  .block-benefits .title {
    font-size: 30px;
  }
  .block-benefits .info {
    font-size: 18px;
  }
  .block-benefits ul.items {
    margin: 0 0 35px;
  }
  .block-benefits ul.items li {
    margin-bottom: 20px;
    text-align: center;
  }
  .block-benefits ul.items li .title {
    text-align: center;
  }
  .block-benefits ul.items li .img {
    height: auto;
  }
  .block-benefits ul.items li ul.info {
    display: inline-block;
    width: 320px;
  }
  .block-benefits ul.items li ul.info li {
    font-size: 14px;
  }

  .developers {
    padding: 60px 0;
  }
  .developers .title {
    font-size: 30px;
  }
  .developers .info {
    font-size: 18px;
  }
  .developers ul.items {
    margin: 0 0 35px;
  }
  .developers ul.items li {
    text-align: center;
    margin-bottom: 20px;
  }
  .developers ul.items li .title {
    text-align: center;
  }
  .developers ul.items li .profession {
    text-align: center;
  }

  .block-logo {
    text-align: center;
    margin-bottom: 22px;
  }

  .block-social {
    text-align: center;
    margin-bottom: 25px;
  }
  .block-social ul li {
    display: block;
    float: left;
    margin: 5px;
  }
  .block-social ul li:nth-child(2n+1) {
    clear: none;
  }

  .box-menu {
    margin-bottom: 25px;
  }
  .box-menu .block-title {
    text-align: center;
    margin: 0 0 10px;
  }
  .box-menu ul.menu {
    text-align: center;
  }

  .block-contacts {
    text-align: center;
  }
  .block-contacts .block-title {
    margin: 0 0 16px;
  }

  .footer .footer-second {
    padding: 25px 0;
  }
  .footer .footer-second .terms {
    display: block;
    float: none;
    padding: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  .footer .footer-second .terms ul {
    display: inline-block;
  }
  .footer .footer-second .box-menu {
    display: block;
    float: none;
    padding: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  .footer .footer-second .box-menu ul {
    display: inline-block;
  }
  .footer .footer-second .copyright {
    float: none;
    width: 100%;
    text-align: center;
  }

  .dedicated-team .content {
    margin-left: 5%;
  }

  body.not-front .page {
    background: url("../img/not-front-bg.jpg") repeat-x 0 260px transparent;
  }
  body.not-front .l-main {
    margin-top: 30px;
  }
  body.not-front .l-main .top-main .block-social {
    text-align: left;
    margin-top: 10px;
    margin-bottom: 0;
  }
  body.not-front .l-main .top-main .block-social ul {
    margin-bottom: 0;
  }
  body.not-front .l-main .top-main .block-social ul li {
    display: block;
    float: left;
    margin: 0 10px 0 0;
  }
  body.not-front .l-main .top-main .block-social ul li:nth-child(2n+1) {
    clear: none;
    float: left;
  }

  .baner {
    background: url("../img/baner-bg-1.jpg") no-repeat center top transparent;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-bottom: 0;
  }
  .baner:after {
    display: none;
  }
  .baner .top {
    margin-bottom: 25px;
    text-align: center;
  }
  .baner .top img {
    margin: 0 0 15px;
    width: auto;
    float: none;
    display: inline-block;
  }
  .baner .top span {
    font-size: 25px;
    width: 100%;
    display: inline-block;
  }
  .baner .top p {
    font-size: 16px;
  }
  .baner .bottom {
    text-align: center;
  }
  .baner .bottom p {
    font-size: 16px;
  }

  .benefits {
    padding: 30px 0;
  }
  .benefits .info {
    text-align: center;
  }
  .benefits .benefits-list {
    margin-top: 40px;
  }
  .benefits .benefits-list ul.items {
    margin: 0 0;
  }
  .benefits .benefits-list ul.items li {
    text-align: center;
    margin-bottom: 30px;
  }
  .benefits .benefits-list ul.items li ul.list {
    margin: 0 auto;
    list-style: none;
    display: block;
    width: 265px;
  }
  .benefits .benefits-list ul.items li ul.list li {
    text-align: left;
  }

  #common_form_request_wrapper {
    display: inline-block;
    padding: 57% 0 20% 0;
    height: inherit;
  }
  #common_form_request_wrapper .form-submit {
    background: url("../img/send-btn.png") no-repeat 0 0 transparent;
    width: 303px;
    height: 60px;
    float: none;
    margin: 0 auto;
    left: 0;
  }
  #common_form_request_wrapper #common_form_request {
    float: none;
    margin: 0 auto 0;
    width: 303px;
  }
  #common_form_request_wrapper #common_form_request form .form-type-textfield {
    display: inline-block;
    width: 100%;
  }
  #common_form_request_wrapper #common_form_request form .form-type-textfield label {
    display: block;
    float: left;
    width: auto;
    text-align: left;
  }
  #common_form_request_wrapper #common_form_request form .form-type-textfield input.form-text {
    display: block;
    width: 100%;
    float: right;
    margin: 0 0;
  }
  #common_form_request_wrapper #common_form_request form .form-type-textarea {
    display: block;
    float: right;
    width: 100%;
  }
  #common_form_request_wrapper #common_form_request form .form-type-textarea .form-textarea-wrapper textarea {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    height: 82px;
    padding: 10px 10px 30px 10px;
    resize: none;
    margin-bottom: -40px;
  }
  #common_form_request_wrapper #common_form_request form .file_upload_label_wrapper {
    display: inline-block;
    width: 100%;
    margin: 0 0 40px;
    text-align: left;
  }
  #common_form_request_wrapper #common_form_request form .file_upload_label_wrapper .file_upload_label {
    margin: 0 15px 0 0;
    color: #686868;
    text-decoration: none;
    line-height: 17px;
    float: right;
  }
  #common_form_request_wrapper #common_form_request form .file_upload_label_wrapper .file_upload_label:hover {
    text-decoration: underline;
  }
}








.node-gallery .field-item {
    margin: 0 10px 10px 0;
}
.view-gallery .views-row {
    float: left;
    margin-bottom: 40px;
    margin-right: 40px;
}
.view-gallery img, .node-gallery .field-name-field-all-photos img {
    border: 4px solid white;
    box-shadow: 0 2px 3px #777777;
    display: inline-block;
    margin: 0 10px 15px;
}



.responsive-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 101%;
}

.responsive-menu li {
  display: block;
  float: left;
  line-height: 62px;
  text-align: center;
  padding: 0 17px;
  position: relative;
}

.responsive-menu li:after {
  content: "";
  width: 1px;
  height: 22px;
  background: #dee3e9;
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -11px;
}

.responsive-menu li.last:after {
  width: 0px !important;
}

.responsive-menu li a {
  display: inline-block;
  color: #174169;
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1;
}

.responsive-menu li a:hover {
  color: #0076da;
  text-decoration: underline;
}

.responsive-menu > li.last {
  width: 25%;
  float: right;
  padding: 0 0;
  line-height: 1;
  margin-right: 2px;
}

.responsive-menu > li.last a {
  position: relative;
  width: 100%;
  height: 62px;
  line-height: 62px;
  color: #fff;
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  font-weight: bold;
  text-indent: 30px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.35);
  background: #8aba1b;
  background: -moz-linear-gradient(top, #8aba1b 0%, #528807 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #8aba1b), color-stop(100%, #528807));
  background: -webkit-linear-gradient(top, #8aba1b 0%, #528807 100%);
  background: -o-linear-gradient(top, #8aba1b 0%, #528807 100%);
  background: -ms-linear-gradient(top, #8aba1b 0%, #528807 100%);
  background: linear-gradient(to bottom, #8aba1b 0%, #528807 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8aba1b', endColorstr='#528807', GradientType=0 );
}

.responsive-menu > li.last a:after {
  content: "";
  background: url("../img/quote-ico.png") no-repeat 0 0 transparent;
  width: 22px;
  height: 22px;
  display: block;
  position: absolute;
  top: 50%;
  left: 20px;
  margin-top: -8px;
}

.responsive-menu > li.last a:hover {
  color: #fff;
  text-decoration: none;
  background: #528807;
  background: -moz-linear-gradient(top, #528807 0%, #8aba1b 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #528807), color-stop(100%, #8aba1b));
  background: -webkit-linear-gradient(top, #528807 0%, #8aba1b 100%);
  background: -o-linear-gradient(top, #528807 0%, #8aba1b 100%);
  background: -ms-linear-gradient(top, #528807 0%, #8aba1b 100%);
  background: linear-gradient(to bottom, #528807 0%, #8aba1b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#528807', endColorstr='#8aba1b', GradientType=0 );
}

.responsive-menu .sub-menu {
  z-index: 9999999;
}

.responsive-menu .sub-menu li {
  display: block;
  background: #fff;
  width: 180px;
  margin-left: -35px;
  border-bottom: 1px solid #dedede;
  line-height: 45px;
}

.responsive-menu .sub-menu li:after {
  width: 0px !important;
}

