@font-face {
  font-family: 'Roboto-Light';
  src: url("../fonts/Roboto-Light.ttf");
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: 'Bebas';
  src: url("../fonts/BebasNeue-Bold.otf");
}

*, body, div {
  margin: 0;
  padding: 0;
  font-family: 'Roboto-Regular', sans-serif;
}

body {
  margin-top: -27px;
}

.fixed-menu {
  -webkit-transition: all 1s ease-out 0.5s;
  -moz-transition: all 1s ease-out 0.5s;
  -o-transition: all 1s ease-out 0.5s;
  transition: all 1s ease-out 0.5s;
}

.fixed-menu .header {
  position: fixed;
  width: 100%;
  height: 60px;
  line-height: 60px;
  z-index: 10000;
  top: 0;
  -webkit-transition: all 1s ease-out 0.5s;
  -moz-transition: all 1s ease-out 0.5s;
  -o-transition: all 1s ease-out 0.5s;
  transition: all 1s ease-out 0.5s;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.85);
  -moz-box-shadow:    0px 0px 15px 0px rgba(50, 50, 50, 0.85);
  box-shadow:         0px 0px 15px 0px rgba(50, 50, 50, 0.85);
}

.fixed-menu .header ul {
  margin: 0;
}

.header {
  width: 100%;
  background: url(http://subtlepatterns.com/patterns/wall4.png);
  z-index: 2;
}

.pane-responsive-dropdown-menus-main-menu {
  width: 1200px;
  margin: 0 auto;
  height: 60px;
}

.header ul.main-menu>li {
  display: inline-block;
  padding: 0 65px;
}

.header ul.main-menu>li a {
  color: #2c3e50;
  line-height: 60px;
  text-decoration: none;
  text-transform: uppercase;
}
.header ul.main-menu li a.map:before {
  content: url(../images/map.png);
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 36px;
  top: 10%;
  opacity: 0.8;
}

.header ul.main-menu li a.cal:before {
  content: url(../images/cal.png);
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 36px;
  top: 10%;
}

.header ul.main-menu>li>a#graph:before {
  content: url(../images/graph.png);
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 30px;
  top: 16%;
}

.header ul.main-menu>li>a#graph:after {
  content: url(../images/arrow.png);
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  right: 40px;
  top: 16%;
  opacity: 0.6;
}

.header ul.main-menu li a.front:before {
  content: url(../images/front.png);
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 30px;
  top: 16%;
}sub-menu

ul.sub-menu #menu-item-593 a:before {
  content: url(../images/front.png);
  display: block;
  width: 24px;
  height: 24px;
}

.header ul.main-menu>li a{
  color: #2c3e50;
  line-height: 60px;
  text-decoration: none;
  text-transform: uppercase;
}

.header ul.main-menu>li a.active,
.header ul.main-menu>li a:hover {
  color: #27ae60;
}

.header ul.main-menu ul.sub-menu {
  background: url(http://subtlepatterns.com/patterns/wall4.png);
}


.header ul.main-menu ul.sub-menu li {
  padding: 0 100px 0 25px;
}

.front-main-container .front-main-mouse {
  border: 2px solid #fff;
  border-radius: 26px;
  width: 26px;
  margin: 0 auto;
  height: 42px;
  -webkit-backface-visibility: hidden;
  transform: translate(0%, 0%);
  margin-top: 15%;
}
.front-main-container .front-main-mouse:after {
    background-color: #fff;
    border-radius: 100%;
    content: "";
    position: absolute;
    top: 5px;
    left: 50%;
    margin-left: -2px;
    width: 4px;
    height: 4px;
    opacity: 1;
    -webkit-transform: translateY(0px) scaleY(1) scaleX(1) translateZ(0px);
    -webkit-animation: scroll 1.5s -1s cubic-bezier(0.680, -0.550, 0.265, 1.550) infinite;
  }

  @-webkit-keyframes scroll {
  0%, 20% {
    -webkit-transform: translateY(0px) scaleY(1) scaleX(1) translateZ(0px);
  }
  10% {
    -webkit-transform: translateY(0px) scaleY(1.2) scaleX(1.2) translateZ(0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(20px) scaleY(2.5) scaleX(0.5) translateZ(0px);
    opacity: 0.01;
  }
}

.pane-yield-front-main {
  background: #41A677;
  /*background: #78BF9E;*/
  height: 670px;
}

.front-article-container {
  width: 1200px;
  margin: 0 auto;
}

.front-article-container {
  width: 1200px;
  margin: 0 auto;
}

.front-article-container .left,
.front-article-container .right {
  width: 45%;
  display: inline-block;
  vertical-align: middle;
}

.front-article-container .left {
  padding-top: 30px;
}

.front-article-container .right {
  padding: 20px 40px;
  margin: 40px 10px 40px 20px;
  background: #fff;
  font-size: 12px;
  border-radius: 2px;
  text-align: justify;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 1);
  -moz-box-shadow:    0px 0px 20px 0px rgba(50, 50, 50, 1);
  box-shadow:         0px 0px 20px 0px rgba(50, 50, 50, 1);
}

.front-article-container .right .tab {
  text-indent: 15px;
}

.front-article-container .right p {
  line-height: 18px;
}

.front-patent-container,
.front-main-container {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding-top: 100px;
}

.master_footer {
  width: 1200px;
  margin: 0 auto;
}

.front-main-container .front-main-first p {
  font-family: 'Bebas';
  font-size: 28px;
  color: #34495e;
}

.front-main-container .front-main-second {
  line-height: 100px;
  color: #2c3e50;
}

.pane-yield-front-article {
  background: #78BF9E;
  height: auto;
}

.pane-yield-front-patent {
  background: #B8D9CA;
  height: 670px;
}

.pane-yield-front-patent .theme {
  margin-bottom: 90px;
}

.pane-yield-front-patent .front-patent-container ul.images {
  list-style: none;
}

.pane-yield-front-patent .front-patent-container ul.images li {
  display: inline;
  padding: 0 30px;
}

.pane-yield-front-patent .front-patent-container ul.images li img {
  cursor:zoom-in;
}

.pane-yield-master-footer {
  background: #F2F2F2;
  margin-bottom: -27px;
}

.pane-yield-master-footer .master_footer {
  height: 80px;
  line-height: 80px;
}

.pane-yield-master-footer .master_footer .footer_left {
  float: left;
}

.pane-yield-master-footer .master_footer .footer_right {
  float: right;
}
