@font-face {
  font-family: 'Roboto-Light';
  src: url("../fonts/Roboto-Light.ttf");
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: 'Bebas';
  src: url("../fonts/BebasNeue-Bold.otf");
}

*, body, div {
  margin: 0;
  padding: 0;
  font-family: 'Roboto-Regular', sans-serif;
}

body {
  margin-top: -27px;
}

.header {
  width: 100%;
  background: #009156;
  /*background: url(http://subtlepatterns.com/patterns/retina_wood.png);*/
  z-index: 2;
}

.pane-responsive-dropdown-menus-main-menu {
  width: 1200px;
  margin: 0 auto;
  height: 60px;
}

.header ul.main-menu>li {
  display: inline-block;
  padding: 0 65px;
}

.header ul.main-menu>li a {
  color: #2c3e50;
  line-height: 60px;
  text-decoration: none;
  text-transform: uppercase;
}

.header ul.main-menu>li a{
  color: #2c3e50;
  line-height: 60px;
  text-decoration: none;
  text-transform: uppercase;
}

.header ul.main-menu>li a:hover {
  color: #c0392b;
}

.header ul.main-menu ul.sub-menu {
  background: url(http://subtlepatterns.com/patterns/retina_wood.png);
}


.header ul.main-menu ul.sub-menu li {
  padding: 0 120px 0 10px;
}

.front-main-container .front-main-mouse {
  border: 2px solid #fff;
  border-radius: 26px;
  width: 26px;
  margin: 0 auto;
  height: 42px;
  -webkit-backface-visibility: hidden;
  transform: translate(0%, 0%);
  margin-top: 15%;
}
.front-main-container .front-main-mouse:after {
    background-color: #fff;
    border-radius: 100%;
    content: "";
    position: absolute;
    top: 5px;
    left: 50%;
    margin-left: -2px;
    width: 4px;
    height: 4px;
    opacity: 1;
    -webkit-transform: translateY(0px) scaleY(1) scaleX(1) translateZ(0px);
    -webkit-animation: scroll 1.5s -1s cubic-bezier(0.680, -0.550, 0.265, 1.550) infinite;
  }

  @-webkit-keyframes scroll {
  0%, 20% {
    -webkit-transform: translateY(0px) scaleY(1) scaleX(1) translateZ(0px);
  }
  10% {
    -webkit-transform: translateY(0px) scaleY(1.2) scaleX(1.2) translateZ(0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(20px) scaleY(2.5) scaleX(0.5) translateZ(0px);
    opacity: 0.01;
  }
}

.pane-yield-front-main {
  background: #41A677;
  /*background: #78BF9E;*/
  height: 670px;
}

.front-patent-container,
.front-article-container,
.front-main-container {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.master_footer {
  width: 1200px;
  margin: 0 auto;
}

.front-main-container .front-main-first {
  font-family: 'Bebas';
  font-size: 28px;
  color: #34495e;
  padding-top: 200px;
}

.front-main-container .front-main-second {
  line-height: 100px;
  color: #2c3e50;
}

.pane-yield-front-article {
  background: #78BF9E;
  height: 670px;
}

.pane-yield-front-patent {
  background: #B8D9CA;
  height: 670px;
}

.pane-yield-front-patent .front-patent-container ul.images {
  list-style: none;
}

.pane-yield-front-patent .front-patent-container ul.images li {
  display: inline;
  padding: 0 30px;
}

.pane-yield-master-footer {
  background: #F2F2F2;
}

.pane-yield-master-footer .master_footer {
  height: 80px;
  line-height: 80px;
  margin-bottom: -27px;
}

.pane-yield-master-footer .master_footer .footer_left {
  float: left;
}

.pane-yield-master-footer .master_footer .footer_right {
  float: right;
}