@font-face {
  font-family: 'Roboto-Light';
  src: url("../fonts/Roboto-Light.ttf");
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: 'Bebas';
  src: url("../fonts/BebasNeue-Bold.otf");
}

@font-face {
  font-family: 'Lato-Light';
  src: url("../fonts/lato-lig-webfont.ttf");
}

*, body, div {
  margin: 0;
  padding: 0;
  font-family: 'Roboto-Regular', sans-serif;
}

body {
  margin-top: -27px;
  min-height: 680px;
}

h1 {
  margin: 10px;
  text-align: center;
}
h2 {
  text-align: center;
}
.page-buffer {
  min-height: 80px;
  margin-bottom: -80px;
}

.fixed-menu {
  -webkit-transition: all 1s ease-out 0.5s;
  -moz-transition: all 1s ease-out 0.5s;
  -o-transition: all 1s ease-out 0.5s;
  transition: all 1s ease-out 0.5s;
}

.footer {
  position: relative;
  width: 100%;
  height: 80px;
}

.fixed-menu .header {
  position: fixed;
  width: 100%;
  height: 60px;
  line-height: 60px;
  z-index: 10;
  top: 0;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.85);
  -moz-box-shadow:    0px 0px 15px 0px rgba(50, 50, 50, 0.85);
  box-shadow:         0px 0px 15px 0px rgba(50, 50, 50, 0.85);
}

.fixed-menu .header ul {
  margin: 0;
}

.header {
  width: 100%;
  background: url(../images/back_menu.png);
  z-index: 2;
}

.pane-responsive-dropdown-menus-main-menu {
  width: 1200px;
  margin: 0 auto;
  height: 60px;
}

.header ul.main-menu>li {
  display: inline-block;
  padding: 0 63px;
}

.header ul.main-menu>li a {
  color: #2c3e50;
  line-height: 60px;
  text-decoration: none;
  text-transform: uppercase;
}
.header ul.main-menu li a.map:before {
  content: url(../images/map.png);
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 36px;
  top: 10%;
  opacity: 0.8;
}

.header ul.main-menu li a.cal:before {
  content: url(../images/cal.png);
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 36px;
  top: 10%;
}

.header ul.main-menu>li>a#graph:before {
  content: url(../images/graph.png);
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 30px;
  top: 16%;
}

.header ul.main-menu>li>a#graph:after {
  content: url(../images/arrow.png);
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  right: 40px;
  top: 16%;
  opacity: 0.6;
}

.header ul.main-menu li a.front:before {
  content: url(../images/front.png);
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 30px;
  top: 16%;
}sub-menu

ul.sub-menu #menu-item-593 a:before {
  content: url(../images/front.png);
  display: block;
  width: 24px;
  height: 24px;
}

.header ul.main-menu>li a{
  color: #2c3e50;
  line-height: 60px;
  text-decoration: none;
  text-transform: uppercase;
}

.header ul.main-menu>li a.active,
.header ul.main-menu>li a:hover {
  color: #27ae60;
}

.header ul.main-menu ul.sub-menu {
  background: url(../images/back_menu.png);
}


.header ul.main-menu ul.sub-menu li {
  padding: 0 100px 0 25px;
}

.front-main-container .front-main-mouse {
  border: 2px solid #fff;
  border-radius: 26px;
  width: 26px;
  margin: 0 auto;
  height: 42px;
  -webkit-backface-visibility: hidden;
  transform: translate(0%, 0%);
  margin-top: 15%;
}
.front-main-container .front-main-mouse:after {
    background-color: #fff;
    border-radius: 100%;
    content: "";
    position: absolute;
    top: 5px;
    left: 50%;
    margin-left: -2px;
    width: 4px;
    height: 4px;
    opacity: 1;
    -webkit-transform: translateY(0px) scaleY(1) scaleX(1) translateZ(0px);
    -webkit-animation: scroll 1.5s -1s cubic-bezier(0.680, -0.550, 0.265, 1.550) infinite;
  }

  @-webkit-keyframes scroll {
  0%, 20% {
    -webkit-transform: translateY(0px) scaleY(1) scaleX(1) translateZ(0px);
  }
  10% {
    -webkit-transform: translateY(0px) scaleY(1.2) scaleX(1.2) translateZ(0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(20px) scaleY(2.5) scaleX(0.5) translateZ(0px);
    opacity: 0.01;
  }
}

.pane-yield-front-main {
  background: #41A677;
  /*background: #78BF9E;*/
  height: 670px;
}

.front-article-container {
  width: 1200px;
  margin: 0 auto;
}

.front-article-container {
  width: 1200px;
  margin: 0 auto;
}

.front-article-container .left,
.front-article-container .right {
  width: 45%;
  display: inline-block;
  vertical-align: middle;
}

.front-article-container .left {
  padding-top: 30px;
}

.front-article-container .right {
  padding: 20px 40px;
  margin: 40px 10px 40px 20px;
  background: #fff;
  font-size: 12px;
  border-radius: 2px;
  text-align: justify;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 1);
  -moz-box-shadow:    0px 0px 20px 0px rgba(50, 50, 50, 1);
  box-shadow:         0px 0px 20px 0px rgba(50, 50, 50, 1);
}

.front-article-container .right .tab {
  text-indent: 15px;
}

.front-article-container .right p {
  line-height: 18px;
}

.front-patent-container,
.front-main-container {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding-top: 100px;
}

.master_footer {
  width: 1200px;
  margin: 0 auto;
}


.front-main-container .front-main-first p {
  font-family: 'Roboto-Light';
  font-size: 28px;
  color: #34495e;
}

.front-main-container .front-main-second {
  line-height: 100px;
  color: #2c3e50;
}

.pane-yield-front-article {
  background: #78BF9E;
  height: auto;
}

.pane-yield-front-patent {
  background: #B8D9CA;
  height: 670px;
}

.pane-yield-front-patent .theme {
  margin-bottom: 90px;
}

.pane-yield-front-patent .front-patent-container ul.images {
  list-style: none;
}

.pane-yield-front-patent .front-patent-container ul.images li {
  display: inline;
  padding: 0 30px;
}

.pane-yield-front-patent .front-patent-container ul.images li img {
  cursor:zoom-in;
  height: 250px;
  width: 250px;
}

.pane-yield-master-footer {
  background: #F2F2F2;
  margin-bottom: -27px;
}

.pane-yield-master-footer .master_footer {
  height: 80px;
  line-height: 80px;
}

.pane-yield-master-footer .master_footer .footer_left {
  float: left;
}

.pane-yield-master-footer .master_footer .footer_right {
  float: right;
}

.ukraine-map-svg {
  width: 620px;
  height: 420px;
}

.ukraine-map-svg-wrapp {
  margin-top: 10px;
  margin-left: 50px;
  position: relative;
}

.ukraine-map-svg-wrapp .yiled-on-map {
  font-size: 15px;
  text-shadow: -1px -1px 0px rgba(150, 150, 150, 0.72);
}

#map-ukraine-slider {
  height: 480px;
  width: 800px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.view-header {
  text-align: center;
  font-size: 17px;
  color: #323232;
}

.ukraine-map-svg-wrapp .map-year {
  font-size: 90px;
  position: absolute;
  top: 333px;
  color: #666;
  left: 16px;
}

.big-map-ukraine {
  width: 1200px;
  margin: 0 auto;
}

.tooltip-show {
  position: absolute;
  width: auto;
  height: 30px;
  border: 2px solid black;
  padding: 5px;
  z-index: 10;
}


.st-menu table {
  border-collapse: collapse;
  margin-bottom: 3em;
  width: 100%;
  background: #fff;
  font-size: 16px;
  line-height: 21px;
  width: 100%;
  margin-top: 0;
}

.st-menu table tbody tr:last-child {
  background: #48a770;
  font-size: 22px;
  color: #fff;
  line-height: 36px;
}
.st-menu table tbody tr:last-child a{
  color: #fff;
}
.st-menu table tbody tr:last-child:hover {
  background: #48a770;
}

.st-menu h3 {
  margin: 0;
  text-align: center;
  font-weight: 300;
  font-size: 25px;
  line-height: 25px;
  padding: 5px 10px;
}

tr.draggable td{
  display: inline-flex;
}


/*******************************----- Tabs -----******************************/

.ajax-loaded-maps>h2 .tabs {
  width: auto;
  float: none;
  list-style: none;
  position: relative;
  margin: -70px 0 0 10px;
  text-align: left;
}

.tabs {
  width: auto;
  float: none;
  list-style: none;
  position: relative;
  margin: -30px 0 0 10px;
  text-align: left;
}

.tabs li {
  float: left;
  display: block;
}

.tabs input[type="radio"] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.tabs label {
  display: block;
  padding: 14px 21px;
  border-radius: 2px 2px 0 0;
  font-size: 20px;
  font-weight: normal;
  text-transform: uppercase;
  background: #71B48D;
  cursor: pointer;
  position: relative;
  top: 4px;
  transition: all 0.2s ease-in-out;
}
.tabs label:hover {
  background: #337357;
}

.tabs .tab-content {
  z-index: 2;
  display: none;
  overflow: hidden;
  width: 100%;
  font-size: 17px;
  line-height: 25px;
  padding: 25px;
  position: absolute;
  top: 53px;
  left: 0;
  background: #C5F4E0;
}

 .tabs [id^="tab"]:checked + label {
  top: 0;
  padding-top: 17px;
  background: #C5F4E0;
}

  .tabs [id^="tab"]:checked ~  [id^="tab-content"] {
  display: block;
}

p.link {
  clear: both;
  margin: 380px 0 0 15px;
}

p.link a {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  padding: 5px 10px;
  margin: 0 5px;
  background-color: #612e76;
  transition: all 0.2s ease-in;
}

p.link a:hover {
  background-color: #522764;
}

/******************************************************************************/

.page-weather-space-differentiation .main_content {
  height: 100%;
  min-height: 760px;
  width: 1200px;
  margin: 0 auto;
}

.view-weather-space-differentiation td {
  padding-bottom: 30px;
  padding-right: 50px;
  cursor: pointer;
}

.view-weather-space-differentiation td:last-child {
  padding-right: 0;
}

.view-weather-space-differentiation table {
  width: 100%;
  margin-bottom: 3.5em;
}

.view-weather-space-differentiation .ajax-loaded-maps h2 {
  text-align: right;
}

.left_temp {
  float: left;
}

.map-link.active {
  text-decoration: underline;
}

.ajax-loaded-maps .preloader.active{
  background: url(../images/preloader.gif) no-repeat;
  height: 30px;
  width: 30px;
  float: right;
  margin-top: 10px;
  padding-right: 45px;
}

.yearr {
  width: 70px;
  float: right;
  font-size: 22px;
  margin-top: 10px;
  font-weight: bold;
}

.view-weather-space-differentiation .row-first {
  margin-bottom: 20px;
}

/* Effect 18: cross */
.field-content {
  position: relative;
  z-index: 1;
}

.map-link {
  text-align: center;
  /*padding: 0 5px;*/
  color: #323232;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  transition: color 0.3s;
}

.map-link::before,
.map-link::after {
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
  height: 1px;
  margin-top: -1px;
  background: #323232;
  content: '';
  z-index: -1;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  pointer-events: none;
  opacity: 0.7;
}

.map-link::before {
  -webkit-transform: translateY(-15px);
  -moz-transform: translateY(-15px);
  transform: translateY(-15px);
}

.map-link::after {
  -webkit-transform: translateY(15px);
  -moz-transform: translateY(15px);
  transform: translateY(15px);
}

.map-link.active,
.map-link:hover,
.map-link:focus {
  color: #323232;
  font-weight: 700;
  text-decoration: none;
}

.map-link.active::before,
.map-link.active::after,
.map-link:hover::before,
.map-link:hover::after,
.map-link:focus::before,
.map-link:focus::after {
  opacity: 0.5;
}

.map-link.active::before,
.map-link:hover::before,
.map-link:focus::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}

.map-link.active::after,
.map-link:hover::after,
.map-link:focus::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

table.all-data-table {
  border: 1px solid #ccc;
  width: 80%;
  margin: 0 auto;
}

table.all-data-table tr {
  border: 1px solid #ccc;
}

table.all-data-table td {
  border: 1px solid #ccc;
  text-align: center;
}

table.all-data-table thead th {
  text-align: center;
}

.pane-yield-all-crop .fieldset-wrapper {
  width: 500px;
  margin: 0 auto;
}

.pane-yield-all-crop label {
  float: left;
  margin-right: 20px;
}

.pane-yield-all-crop select#edit-region {
  float: left;
  margin-right: 20px;
}

.pane-yield-all-crop input#edit-submit {
  display: inline-block;
}

.pane-yield-all-crop div#ajax-results {
  margin: 20px auto;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.5em 0.625em 2em;
}