@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?ysnnxs');
	src:url('fonts/icomoon.eot?#iefixysnnxs') format('embedded-opentype'),
		url('fonts/icomoon.woff?ysnnxs') format('woff'),
		url('fonts/icomoon.ttf?ysnnxs') format('truetype'),
		url('fonts/icomoon.svg?ysnnxs#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-arrow-right:before {
	content: "\e600";
}

